*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    padding: 50px 20px;
    border:1px solid black;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}
.child{
    border-radius: 8px;
}
.box1{
    grid-column: 1/2;
     background-image: url(https://images.unsplash.com/photo-1541845157-a6d2d100c931?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE4MjY3M30);
    background-size: cover;
}
.box2{
    grid-column: 2/3;
    background-image:url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSTqrYnKUnaU-fX53DWjC6oezFPW6v_LPyHwvqUQV1MopLTdIM5);
    background-size: cover;
}
.box3{
    grid-column: 3/4;
    grid-row: 1/3;
     background-image: url(https://i1.rgstatic.net/ii/profile.image/11431281189592380-1695108822795_Q512/Lindokuhle-Ngcobo-7.jpg);
    background-size: cover;
}
.box4{
    grid-auto-columns: 60px;
    grid-column: 4/6;
    background-image: url(https://i.pinimg.com/600x315/5f/fa/cf/5ffacf68b39c736efdf6e812d8193341.jpg);
    background-size: cover;
}
.box5{
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQFPl_rMbQrD1Q24GXG6uM69d962auoY_ZIRYVJvDTv5evfmQPK);
    background-size: cover;
}
.box6{
    grid-column: 2/3;
    grid-row: 2/4;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRmoCwiuCytd_eW-m-gRQxuljxW5GCVevzegrmT04IE0MAt1PJ5);
    background-size: cover;
}
.box7{
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQCOCmHvxgm2KA1_iuaeJSpIWim891TzC6-GGFFHOoZrmltuILt);
    background-size: cover;
}
.box8{
    grid-column: 4/6;
    grid-row: 2/4;
    background-image: url(https://images.unsplash.com/photo-1588492885706-b8917f06df77?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
.box9{
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRlheyRMERBxkYXqUonY59jwNHWIR0lm0o6d36QWwOREyJbtgr);
    background-size: cover;
}
@media(max-width:700px){
    .container{
        grid-template-columns: repeat(4, 1fr);
        background-color: blueviolet;
    }

}
@media(max-width:500px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        background-color: rgb(12, 237, 64);
    }

}